# This file may be used to create an environment using:
import numpy as np
import pandas as pd 
import sklearn
import json
from sklearn.neighbors import NearestNeighbors

import shap

numpy=1.22.4=pypi_0

# File system manangement
import os
# Suppress warnings 
import warnings
warnings.filterwarnings('ignore')
import pickle

from fastapi import FastAPI
from fastapi.encoders import jsonable_encoder
fastapi=0.79.0=pypi_0

pickle-mixin=1.0.2=pypi_0
pickleshare=0.7.5=pyhd3eb1b0_1003
requests=2.28.1=pypi_0
scikit-learn=1.1.1=pypi_0
shap=0.41.0=pypi_0
sklearn=0.0=pypi_0
slicer=0.0.7=pypi_0
smmap=5.0.0=pypi_0
sniffio=1.2.0=pypi_0
soupsieve=2.3.2.post1=pypi_0
sqlite=3.38.5=h2bbff1b_0
stack-data=0.3.0=pypi_0
stack_data=0.2.0=pyhd3eb1b0_0
starlette=0.19.1=pypi_0
streamlit=1.11.0=pypi_0
streamlit-lottie=0.0.3=pypi_0
tenacity=8.0.1=pypi_0
terminado=0.15.0=pypi_0
testpath=0.6.0=py39haa95532_0
threadpoolctl=3.1.0=pypi_0
tifffile=2022.5.4=pypi_0
tinycss2=1.1.1=pypi_0
toml=0.10.2=pypi_0
toolz=0.12.0=pypi_0
tornado=6.2=pypi_0
tqdm=4.64.0=pypi_0
traitlets=5.3.0=pypi_0
typing-extensions=4.3.0=pypi_0
typing_extensions=4.1.1=pyh06a4308_0
tzdata=2022.1=pypi_0
tzlocal=4.2=pypi_0
ujson=5.4.0=pypi_0
urllib3=1.26.11=pypi_0
uvicorn=0.17.6=pypi_0
validators=0.20.0=pypi_0
vc=14.2=h21ff451_1
vs2015_runtime=14.27.29016=h5e58377_2
watchdog=2.1.9=pypi_0
watchgod=0.8.2=pypi_0
wcwidth=0.2.5=pyhd3eb1b0_0
webencodings=0.5.1=pypi_0
websockets=10.3=pypi_0
wheel=0.37.1=pyhd3eb1b0_0
widgetsnbextension=3.6.1=pypi_0
wincertstore=0.2=py39haa95532_2
winpty=0.4.3=4
xgboost=1.6.1=pypi_0
zeromq=4.3.4=hd77b12b_0
zipp=3.8.1=pypi_0
